.fill-height {
	height: 100%;
}
.absolute {
	position: absolute;
}
.tl {
	top: 0;
	left: 0;
}
.orange {
	background-color: #3d413d;
}
.logo {
	width: 60%;
	padding-left: 20%;
	padding-top: 10px;
}
.text-hover {
	color: #000;
	text-decoration: none;
}
.btns {
	width: 35%;
	padding-left: 30%;
	padding-top: 10px;
}
.btns:hover {
	cursor: pointer;
	cursor: hand;
}
.logout {
	width: 73%;
	padding-left: 14%;
	position: absolute;
	bottom: 3em;
}
.head {
	text-align:center;
	margin-top: 0;
	margin-bottom: 0;
}
.relative {
	position: relative;
}
.fill-width {
	width: 100%;
}
.blue {
	background-color: #f7f7f7;
}
.guardian {
	text-align: center;
	font-family: 'Open Sans';
	font-size: 1em;
	font-weight: 900;
}
.guardianContainer {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 1em;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
}
.content-item {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	float: left;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
.div-fonts{
	border-bottom: solid 1px lightgray;
}
a {
	color: inherit;
	text-decoration: none;
}



