body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
}
.container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.container .inner-container {
  padding-left: 5em;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.container .inner-container .navbar {
  height: 4em;
}
.container .inner-container .footer {
  height: 4em;
}
.container .inner-container-2 {
  height: 100%;
  width: 25%;
  padding-top: 4em;
  box-sizing: border-box;
  float: left;
}
.container .inner-container-2 .navbar {
  height: 4em;
}
.container .inner-container-2 .footer {
  height: 4em;
}
.container .sidebar {
  width: 5em;
}
.divtest {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.tl {
  top: 0;
  left: 0;
}
.tr {
  top: 0;
  right: 0;
}
.bl {
  bottom: 0;
  left: 0;
}
.br {
  bottom: 0;
  right: 0;
}
.block-xs {
  width: 100px;
  height: 50px;
}
.block-sm {
  width: 200px;
  height: 100px;
}
.block {
  width: 400px;
  height: 200px;
}
.block-lg {
  width: 600px;
  height: 300px;
}
.block-xl {
  width: 800px;
  height: 400px;
}
.padding-tb {
  padding-top: 100px;
  padding-bottom: 100px;
}
.fill-width {
  width: 100%;
}
.fill-height {
  height: 100%;
}
.border-box {
  box-sizing: border-box;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.purple {
  background-color: purple;
}
.orange {
  background-color: orange;
}
.text-white {
  color: white;
}
