<head>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>
<div class="sidebar fill-height absolute tl blue" ng-cloak>
	<img src="../images/conglom-logo2.png" class="logo">
	<br><br>
	
	<a class="text-hover" href="" title="Add Guardian Stream">
		<img src="../images/guardiansmall.png" class="ng-button btns" ng-click="addStream()"></a>
	<br>
	<a class="text-hover" href="" title="Add Weather Stream">
		<img src="../images/weathersmall.png" class="ng-button btns" ng-click="addStream()"></a>
	<br>
	<a class="text-hover" href="" title="Add YouTube Stream">
		<img src="../images/youtubesmall.png" class="ng-button btns" ng-click="addStream()"></a>
	<br>
	<a class="text-hover" href="" title="Add Movie Database Stream">
		<img src="../images/imdbroundsmall.png" class="ng-button btns" ng-click="addStream()"></a>
	<br>
	<a class="text-hover" href="" title="Add Redddit Stream">
		<img src="../images/reddit.png" class="ng-button btns" ng-click="addStream()"></a>
	<br>
	<a class="text-hover" href="" title="Add Gmail Stream">
		<img src="../images/gmail.png" class="ng-button btns" ng-click="addStream()"></a>
	<br>
	<a class="text-hover" href="" title="Add Twitter Stream">
		<img src="../images/twitter.png" class="ng-button btns" ng-click="addStream()"></a>
	<br>
	<a class="text-hover" href="" title="Add Yahoo Stream">
		<img src="../images/yahoo.png" class="ng-button btns" ng-click="addStream()"></a>
	<br><br><br>
	
	<a class="text-hover" href="" title="Add New Stream">
		<img src="../images/plus.svg" class="ng-button btn-2" ng-click="addStream()"></a>
	<br><br>
	<a class="text-hover" href="" title="Remove Stream">
	<img src="../images/minus.svg" class="btn-2" ng-click="removeStream()"></a>
	<br><br><br><br><br>
	<img src="../images/logout.svg" class="logout" ng-click="logout()" />
</div>

<div class="view-inner-container relative" ng-cloak>
	<!--<div class="absolute tl fill-width hi-message">Hi {{ userName }}!</div>-->
	
	<div class="view-inner-container-2 relative {{widthClass}}" ng-hide="stream1Hide">
		<div class="navbar fill-width absolute tl blue guardian">Guardian News</div>
		<div class="guardianContainer fill-width content-item">
			<div class="div-fonts" ng-repeat="item in guardianStream">
				<a href="{{item.webUrl}}"><h5> {{ item.webTitle }}</h5></a>
				<!--<a href="{{item.webUrl}}" class="content-item url-pad">{{item.webUrl}}</a>-->
				<p>Posted: {{ item.webPublicationDate | date : shortDate }}</p>
			</div>
		</div>
	</div>
	
	<div class="view-inner-container-2 relative {{widthClass}}" ng-hide="stream2Hide">
		<div class="navbar fill-width absolute tl blue guardian">Local Weather</div>
		<div class="guardianContainer fill-width content-item">
			<h3>{{ weatherStream.name }}</h3>
			<img src="http://openweathermap.org/img/w/{{weatherStream.weather[0].icon}}.png">
			<h4>Temperature {{ fahrenheit }} &#x2109</h4>
			<h4>Humidity {{ weatherStream.main.humidity }} &#37;</h4>
			<h4>{{ weatherStream.weather[0].description }}</h4>
		</div>
	</div>
	
	<div class="view-inner-container-2 relative {{widthClass}}" ng-hide="stream3Hide">
		<div class="navbar fill-width absolute tl blue guardian">YouTube</div>
		<div class="guardianContainer content-item" ng-controller="VideosController">
			<ons-modal var="modal" ng-click="youtube.player.stopVideo(); modal.hide();">
				<div id="player">
					<div id="placeholder" style="width: 100%"></div>
				</div>
			</ons-modal>			
			<ons-tabbar>
				<ons-tab page="../html/search.html" persistent no-reload active="true" icon="fa fa-search" label="Search"></ons-tab>
				<ons-tab page="../html/history.html" persistent no-reload  icon="fa fa-history" label="History"></ons-tab>
			</ons-tabbar>
		</div>
	</div>
	
	<div class="view-inner-container-2 relative {{widthClass}}" ng-hide="stream4Hide">
		<div class="navbar fill-width absolute tl blue guardian">Movie Database</div>
		<div class="guardianContainer content-item">
			<input id="movie" type="text" ng-model="movieTitle"/><button ng-click="movieSearch()">Search</button>
			<div class="div-fonts" ng-repeat="item in movieList">
				<!--<a href="{{item.webUrl}}"><h3> {{ item.webTitle }}</h3></a>-->
				<!--<a href="{{item.webUrl}}" class="content-item url-pad">{{item.webUrl}}</a>-->
				<p>{{ item.title }}</p>
			</div>

			<h3>{{tmdbStream.original_title}}</h3>
			<h3>{{tmdbStream.poster_path}}</h3>
			<img src="{{tmdbStream.poster_path}}" alt="">
		</div>
	</div>
</div>