<head>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>
<div class="sidebar fill-height absolute tl blue" ng-cloak>
	<img src="../images/conglom-logo2.png" class="logo">
	<br><br>
	
	<a class="text-hover" href="" title="Add Guardian News Stream">
		<img src="../images/guardiansmall.png" class="ng-button btns" ng-click="toggle('guardian')"></a>
	<br>
	<a class="text-hover" href="" title="Add Weather Stream">
		<img src="../images/weathersmall.png" class="ng-button btns" ng-click="toggle('weather')"></a>
	<br>
	<a class="text-hover" href="" title="Add YouTube Stream">
		<img src="../images/youtubesmall.png" class="ng-button btns" ng-click="toggle('youtube')"></a>
	<br>
	<a class="text-hover" href="" title="Add Movie Database Stream">
		<img src="../images/imdb.png" class="ng-button btns" ng-click="toggle('movieTest')"></a>
	<br>
	<a class="text-hover" href="" title="Add Redddit Stream">
		<img src="../images/reddit.png" class="ng-button btns" ng-click="toBeImplemented()"></a>
	<br>
	<a class="text-hover" href="" title="Add Twitter Stream">
		<img src="../images/twitter.png" class="ng-button btns" ng-click="toBeImplemented()"></a>
	<br>
	<a class="text-hover" href="" title="Add Gmail Stream">
		<img src="../images/gmail.png" class="ng-button btns" ng-click="toBeImplemented()"></a>
	<br>
	<a class="text-hover" href="" title="Add Yahoo Stream">
		<img src="../images/yahoo.png" class="ng-button btns" ng-click="toBeImplemented()"></a>
	<br><br><br>
	
	<img src="../images/logout.svg" class="logout" ng-click="logout()" />
</div>

<div class="view-inner-container relative" ng-cloak>
	<!--<div class="absolute tl fill-width hi-message">Hi {{ userName }}!</div>-->
	
	<div class="view-inner-container-2 relative {{widthClass}}" ng-hide="guardianHidden">
		<div class="navbar fill-width absolute tl blue guardian"><img src="../images/guardiansmall.png" width="47em" alt=""></div>
		<div class="guardianContainer fill-width content-item">
			<div class="div-fonts" ng-repeat="item in guardianStream">
				<a href="{{item.webUrl}}"><h5> {{ item.webTitle }}</h5></a>
				<!--<a href="{{item.webUrl}}" class="content-item url-pad">{{item.webUrl}}</a>-->
				<p>Posted: {{ item.webPublicationDate | date : shortDate }}</p>
			</div>
		</div>
	</div>
	
	<div class="view-inner-container-2 relative {{widthClass}}" ng-hide="weatherHidden">
		<div class="navbar fill-width absolute tl blue guardian"><img src="../images/weathersmall.png" width="47em" alt=""></div>
		<div class="guardianContainer fill-width content-item">
			<h3>{{ weatherStream.name }}</h3>
			<img class="weather-image" src="http://openweathermap.org/img/w/{{weatherStream.weather[0].icon}}.png">
			<h4>Temperature {{ fahrenheit }} &#x2109</h4>
			<h4>Humidity {{ weatherStream.main.humidity }} &#37;</h4>
			<h4>{{ weatherStream.weather[0].description }}</h4>
			<h4>Pressure: {{ weatherStream.main.pressure }}</h4>
			<h4>Wind speed: {{ weatherStream.wind.speed }}</h4>
			<h4>Latitude: {{ weatherStream.coord.lat }}</h4>
			<h4>Longitude: {{ weatherStream.coord.lon }}</h4>			
		</div>
	</div>
	
	<div class="view-inner-container-2 relative {{widthClass}}" ng-hide="youtubeHidden">
		<div class="navbar fill-width absolute tl blue guardian"><img src="../images/youtubesmall.png" width="47em" alt=""></div>
		<div class="guardianContainer content-item" ng-controller="VideosController">
			<ons-modal var="modal" ng-click="youtube.player.stopVideo(); modal.hide();">
				<div id="player">
					<div id="placeholder" style="width: 100%"></div>
				</div>
			</ons-modal>			
			<ons-tabbar>
				<ons-tab page="../html/search.html" persistent no-reload active="true" icon="fa fa-search" label="Search"></ons-tab>
				<ons-tab page="../html/history.html" persistent no-reload  icon="fa fa-history" label="History"></ons-tab>
			</ons-tabbar>
		</div>
	</div>
	
	<div class="view-inner-container-2 relative {{widthClass}} container-fluid outerdiv" ng-hide="movieTestHidden">
		<div class="navbar fill-width absolute tl blue guardian"><img src="../images/imdb.png" width="47em" alt=""></div>
	
		<div class="animated zoomInRight guardianContainer content-item">
			<div class="input-group search-bar">
			<input type="text" ng-model="search" ng-change="change()" onclick="select()" class="form-control" placeholder="Enter full movie name" autofocus />
			<span class="input-group-addon bar-style"><i class="glyphicon glyphicon-search"></i></span>
			</div>
		
			<div id="main-info" class="col-md-8">
			<div ng-if="!details">
				Loading results...
			</div>
		
			<div ng-if="details.Response==='True'">
				<img ng-src="{{ details.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : 'http://imdb.wemakesites.net/api/1.0/img/?url='+details.Poster }}" class="thumbnail animated flip movie-poster">
		
				<span class="span-outer">
				<a href="http://imdb.com/title/{{ details.imdbID }}" target="_blank">{{ details.Title }}</a>
				</span>, {{ details.Year }}
		
				<p><strong>Released on:</strong> {{ details.Released }} ({{ details.Runtime }})</p>
		
				<p>{{ details.Plot }}</p>
		
				<p class="outer-p">
				<div class="inner-p">
					<span class="label label-primary">Directors :</span> {{ details.Director }}
				</div>
				<div class="inner-p">
					<span class="label label-primary">Actors :</span> {{ details.Actors }}
				</div>
				<div class="inner-p">
					<span class="label label-primary">Genre :</span> {{ details.Genre }}
				</div>
				</p>
		
				<p class="outer-p-2">Ratings:
				<br>
				<strong>IMDb Rating</strong>: <span class="label label-success">{{ details.imdbRating }}</span>
				<br>
				<strong>Rotten Tomatoes</strong>: <span class="label label-success">{{ details.tomatoRating }}</span>
				</p>
		
				<p class="outer-p-3">
				<a ng-href="https://www.youtube.com/results?search_query={{ details.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Watch Trailers!</a>
				<span class="divider"></span>
				<a ng-href="http://subscene.com/subtitles/title?q={{ details.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Get Subtitles!</a>
				<span class="divider"></span>
				<a ng-href="http://www.theost.com/search/custom/?key={{ details.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Hear Soundtracks!</a>
				<span class="divider"></span>
				<a ng-href="http://www.amazon.in/s/ref=nb_sb_noss_1?url=search-alias%3Ddvd&field-keywords={{ details.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Buy this movie!</a>
				</p>
			</div>
		
			<div ng-if="details.Response==='False'">
				No results found.
			</div>
			</div>
		
			<div id="related-results" class="col-md-4 animated bounce related-results">
			<div ng-if="related.Response!=='False'">
				Related Results:
				<hr>
		
				<ul class="rel-results">
				<li ng-repeat="movie in related.Search">
					<a href="#deck" id="{{ $index + 1 }}" ng-click="update(movie)">{{ movie.Title }}</a>, {{ movie.Year }}
				</li>
				</ul>
			</div>
			</div>
		</div>
	</div>	

	
	
</div>